<launch>

<arg name="debug"                         default="true"/>
<arg name="com_port"                      default="/dev/tty0"/>
<arg name="twist_topic_in"                default="spinner_twist_vel"/>

<node pkg="spinner_serial" name="spinner_serial_node" type="spinner_serial_node" output="screen" >
    <param name="debug"                     value="$(arg debug)"/>
    <param name="com_port"                  value="$(arg com_port)"/>
    <param name="twist_topic_in"            value="$(arg twist_topic_in)"/>
</node>

</launch>

